@font-face {
  font-family: 'Comforta';
  src: url(/Fonts/Comfortaa-Bold.woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Comforta';
  src: url(/Fonts/Comfortaa-SemiBold.woff2);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Comforta';
  src: url(/Fonts/Comfortaa-Medium.woff2);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Comforta';
  src: url(/Fonts/Comfortaa-Regular.woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Chillax';
  src: url(/Fonts/Chillax-Bold.woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Chillax';
  src: url(/Fonts/Chillax-Semibold.woff2);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Chillax';
  src: url(/Fonts/Chillax-Medium.woff2);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Chillax';
  src: url(/Fonts/Chillax-Regular.woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}