@use 'Helpers' as *;

.wrapper {
	max-width: 1200px;
	margin-inline: auto;
}

.logo {
	font-size: 48px;
	color: var(--color-purple);
	letter-spacing: 3px;

	&__letter-deco {
		color: gold;
	}

	&__letter {
		transition: all ease-in-out;
		transition-duration: var(--transition-duration);

		&:hover {
			transform: translateY(-5px);
		}
	}
}

.btn {
	background-color: rgb(0, 139, 139, 0.1);
	box-shadow: 0 8px 32px 0 rgba(0, 139, 139, 0.1);
	transform: scale(0.98);
	@include rectangle(150px, 75px);
	color: var(--color-purple);
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 20px;
	font-size: 20px;
	transition: all 0.3s ease-in-out;
}

.btn:hover {
	transform: scale(1);
  background-color: rgb(0, 139, 139, 0.2);
  box-shadow: 0 8px 32px 0 rgba(0, 139, 139, 0.15);
}

.btn:active {
  transform: scale(1.03);
  background-color: rgb(0, 139, 139, 0.25);
  box-shadow: 0 8px 32px 0 rgba(0, 139, 139, 0.2);
}

.visually-hidden {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	margin: -1px !important;
	border: 0 !important;
	padding: 0 !important;
	white-space: nowrap !important;
	clip-path: inset(100%) !important;
	clip: rect(0 0 0 0) !important;
	overflow: hidden !important;
}

.hidden-mobile {
	@include mobile {
		display: none !important;
	}
}

.visible-mobile {
	@include mobile-above {
		display: none !important;
	}
}
