@use 'Helpers' as *;

:root {
	--bg-color-main: linear-gradient(
		0deg,
		rgba(237, 185, 208, 1) 0%,
		rgba(160, 194, 233, 1) 100%
	);

	--color-purple: rgb(100, 50, 250);
	--color-purple-hover: rgb(35, 15, 65);
	--color-button-hover: white;

	--font-family-base: 'Comfortaa';
	--font-family-accent: 'Chillax';

	--max-width: 1200px;

	--border-radius: 15px;

	--transition-duration: 0.4s;
}
